<div class="container mt-5">

  <ul>
    <li>
      <h2><%= @task.title %></h2>
    </li>
    <li>
      <h6><%= @task.details %></h6>
    </li>
    <li>
      <% if @task.completed? %>
        <i class="fa-regular fa-square-check"></i> Task Completed!
      <% else %>
        <i class="fa-regular fa-square"></i> This task is not completed yet!
      <% end %><br>
    </li>
  </ul>

  <%= link_to "Edit Task", tasks_edit_path %>
  <%= link_to "Back to Tasks", tasks_path %>
</div>
